.country{
    border: 2px solid salmon;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    
}
.country-visited{
    background-color: aliceblue;
    color: black;
}
button{
    
   margin: 5px;
}